main {
    position: relative;
}

#tooltip {
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    min-width: 100px;
    background-color: #fff;
    border: 1px solid #000;
    display: none;
}


